.cabecalho__links {
    color: #808080;
    text-decoration: none;
    margin-right: 1.25em;
}

.cabecalho__links:hover {
    text-decoration: underline;
}

.cabecalho__links.ativo {
    color: #333333;
    font-weight: bold;
} 

@media screen and (min-width: 0) {
     .cabecalho__links {
         font-size: 13px;
     }    
}

@media screen and (min-width: 768px) {
     .cabecalho__links {
         font-size: 16px;
     }    
}

