.cabecalho__links {
    color: #808080;
    text-decoration: none;
    margin-right: 1.25em;
}

.cabecalho__links:hover {
    text-decoration: underline;
}

.cabecalho__links.ativo {
    color: #333333;
    font-weight: bold;
} 
