.pessoa__imagem {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
    height: 300px;
    width: 300px;
}

.pessoa__imagem--marcela {
    background-image: url(../../img/pessoas/marcela.jpg);
}

.pessoa__imagem--andreia {
    background-image: url(../../img/pessoas/andreia.jpg);
}

.pessoa__imagem--roberta {
    background-image: url(../../img/pessoas/roberta.jpg);
}