.banner__fundo {
    background: url(../../img/banner.jpg) no-repeat center / cover;
    width: 100%;
}

@media screen and (min-width: 0) {
    .banner__fundo {
    height: calc(100vw - 50px);
    }
}

@media screen and (min-width: 768px) {
    .banner__fundo {
    height: calc(47vw - 75px);
    }
}