.receita__botao {
    background-color: #8D0606;
    color: #FFFFFF;
    border: none;
    border-radius: 7px;
    padding: .8rem 1rem;
    transition: all .1s ease-in-out;
}

.receita__botao:hover {
    cursor: pointer;
    background-color: #BD0029;
}