.receita {
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

@media screen and (min-width: 0) {
    .receita {
    margin-right: 2rem;
    margin-bottom: 3rem;
    width: 100%
    }
}

@media screen and (min-width: 768px) {
    .receita {
    margin-right: 3rem;
    width: calc(40% - 3rem);
    }
}

@media screen and (min-width: 992px) {
    .receita {
    margin-right: 5rem;
    width: calc(26% - 5rem);
    }
}
