.sobre__titulo { 
    color: #8D0606;
    font-weight: 300;
    font-family: Pacifico, cursive;
    padding-bottom: .8rem;
}

@media screen and (min-width: 0) {
    .sobre__titulo {
        font-size: 2.1rem;
    }
}

@media screen and (min-width: 768px) {
    .sobre__titulo {
        font-size: 2.8rem;
    }
}

@media screen and (min-width: 996px) {
    .sobre__titulo {
        font-size: 3.1875rem;
    }
}